* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

$breakpoints: (
  mobile: 0,
  tablet: 760px,
  desktop: 1024px,
  large: 1200px,
);

@mixin breakpoint($breakpointName) {
  @media screen and (min-width: map-get($breakpoints, $breakpointName)) {
    @content;
  }
}

@import './site';
