@import './color';
$font-size: 1rem;
$font-color: lch(53 105 40);

html {
  font-size: $font-size;
  color: $font-color;
}

body {
  margin: 0;
  padding: 0;

  &:fullscreen {
    background-color: pink; // propriété CSS peu supportée par les navigateurs qui devrait être auto-préfixée en mode production
  }

  h1 {
    color: $base-color;
  }
}